@model AlisverisProje.CalisanListViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row">
    <div class="col-sm-6">
        <h2>Çalışanlarımız</h2>
        @Html.ActionLink("Yeni Çalışan Ekle","Add","Calisanlar",null, new { @class="btn btn-primary"})
        <ul class="list-group">
            
            @foreach (var calisan in Model.Calisanlar)
            {
                <li class="list-group-item">@calisan.Ad @calisan.Soyad</li>
            }

        </ul>
    </div>

    <div class="col-sm-6">
        <h2>Çalışan Adresleri</h2>
         @Html.ActionLink("Yeni Adres","Add","Adresler",null, new { @class="btn btn-primary"})
        <ol class="list-group list-group-numbered">

            @foreach (var adres in Model.Adresler)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">@adres.kisi.Ad @adres.kisi.Soyad</div>
                        @adres.AdresBilgisi
                    </div>

                </li>
            }
        </ol>
    </div>

</div>

